.container {
	width: 70%;
	margin: auto;
}

body {
	background-color: #544179;
	color: #32c1cd;
	text-align: center;
}
/* Headings  */
h1 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #32c1cd;
}

h2 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
}
/* Button */
.btn {
	margin: 30px;
	background-color: #6166b3;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
	border-color: gold;
	/* border: 2px solid gold; */
	width: 15rem;
	height: 5rem;
	box-shadow: 5px;
}

/* Body */
.container-images {
	position: static;
}

.jar {
	display: block;
	width: 15%;
	margin-left: 42.5%;
	position: absolute;
}

.parchment {
	position: absolute;
	display: none;
	/* visibility: hidden; */
	width: 10%;
	margin-left: 45%;
	margin-top: 4%;
}

#footer {
	position: relative;
	margin-top: 15%;
	color: bisque;
	padding: 50px;
}
