.container {
	width: 70%;
	margin: auto;
	/* text-align: center; */
}

body {
	background-color: #544179;
	color: #32c1cd;
	text-align: center;
}

h1 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #32c1cd;
}

h2 {
	margin 30px;
	text-shadow: 5px 0 #232931;
}
.jar {
	display: block;
	width: 35%;
	margin: auto;
}

.btn {
	/* color: #32c1cd */
	margin: 30px;
	background-color: #6166B3;
	/* width: 15rem; */

}

#footer {
	color: bisque;
	padding: 50px;
	/* text-align: center; */
}
