body {
	background-color: #544179;
	color: #32c1cd;
	text-align: center;
}
/* Headings  */
h1 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #32c1cd;
}

h2 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
}
/* Button */
.btn {
	margin: 30px;
	background-color: #6166b3;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
	border-color: gold;
	width: 15rem;
	height: 5rem;
	box-shadow: 5px;
}

/* Image Containers */
.container-images {
	position: static;
}

.container-jar {
	position: relative;
	left: 42.5%;
}

.container-paper {
	position: absolute;
	top: 26%;
	left: 3%;
}

.container-answer {
	position: absolute;
	top: 6%;
	left: 2%;
}

/* Images  */
.jar {
	display: block;
	width: 15%;
}

.parchment {
	/* display: none; */
	display: block;
	width: 60%;
}

.answer {
	/* background-color: #fff; */
	/* display: none; */
	display: block;
	width: 100px;
	color: black;
	text-shadow: none;
	font-size: 3rem;
	text-align: center;
	font-family: fantasy;
}

/* Footer */
#footer {
	/* position: relative; */
	margin-top: 15%;
	color: bisque;
	padding: 50px;
}
